@model AccountMe.Models.Account

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>Account</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <div class="form-group">
                <label asp-for="Name" class="control-label"></label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Code" class="control-label"></label>
                <input asp-for="Code" class="form-control" />
                <span asp-validation-for="Code" class="text-danger"></span>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="IsReadOnly" /> @Html.DisplayNameFor(model => model.IsReadOnly)
                </label>
            </div>
            <div class="form-group">
                <label asp-for="IdParent" class="control-label"></label>
                <select asp-for="IdParent" class="form-control" asp-items="ViewBag.IdParent"></select>
                <span asp-validation-for="IdParent" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="IdChartAccount" class="control-label"></label>
                <select asp-for="IdChartAccount" class="form-control" asp-items="ViewBag.IdChartAccount"></select>
                <span asp-validation-for="IdChartAccount" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="IdAccountType" class="control-label"></label>
                <select asp-for="IdAccountType" class="form-control" asp-items="ViewBag.IdAccountType"></select>
                <span asp-validation-for="IdAccountType" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Created" class="control-label"></label>
                <input asp-for="Created" class="form-control" />
                <span asp-validation-for="Created" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CreatedBy" class="control-label"></label>
                <input asp-for="CreatedBy" class="form-control" />
                <span asp-validation-for="CreatedBy" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="UpdatedBy" class="control-label"></label>
                <input asp-for="UpdatedBy" class="form-control" />
                <span asp-validation-for="UpdatedBy" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

