@model AccountMe.Models.Credentials
@{
    Layout = null;
    ViewData["Title"] = "Login";
    
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <title>@ViewData["Title"] - Account Me</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta content="Registro contable" name="description" />
    <meta content="Alan Alvarenga" name="author" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <!-- App favicon -->
    <link rel="shortcut icon" href="~/assets/images/favicon.ico">
    <!-- App css -->
    <environment include="Development">
        <link rel="stylesheet" href="~/css/bootstrap.min.css" asp-append-version="true" />
        <link rel="stylesheet" href="~/css/icons.min.css" asp-append-version="true" />
        <link rel="stylesheet" href="~/css/app.css" asp-append-version="true" />
    </environment>
    <environment exclude="Development">
        <link rel="stylesheet" href="~/css/bootstrap.min.css"
              asp-fallback-href="~/css/bootstrap.min.css"
              asp-fallback-test-class="sr-only" asp-fallback-test-property="position" asp-fallback-test-value="absolute" />
        <link rel="stylesheet" href="~/css/icons.min.css" asp-append-version="true" />
        <link rel="stylesheet" href="~/css/app.min.css" asp-append-version="true" />
    </environment>

</head>
<body class="authentication-bg">
    <div class="account-pages mt-5 mb-5">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-lg-5">
                    <div class="card">
                        <div class="card-body p-4">

                            <div class="text-center w-75 m-auto">
                                <a asp-controller="Home" asp-action="Index">
                                    <span><img src="~/assets/images/logo.png" alt="" height="20"></span>
                                </a>
                                <p class="text-muted mb-4 mt-3">Account Me</p>
                            </div>
                            <form asp-action="Login" autocomplete="off">
                                @TempData["mensaje"]
                                <div class="form-group mb-3">
                                    <label for="username">Correo</label>
                                    <input asp-for="Email" type="text" class="form-control" placeholder="Correo">
                                </div>
                                <div class="form-group mb-3">
                                    <label for="password">Contrase&ntilde;a</label>
                                    <input asp-for="Password" type="password" class="form-control" autocomplete="false">
                                    <!-- <input class="form-control" type="password" required="" id="password" name="password" placeholder="Enter your password"> -->
                                </div>
                                <div class="form-group mb-0 text-center">
                                    <button class="btn btn-primary btn-block" type="submit"> Entrar </button>
                                </div>
                            </form>
                        </div> <!-- end card-body -->
                    </div>
                    <!-- end card -->
                    <div class="row mt-3">
                        
                    </div>
                    <!-- end row -->
                </div> <!-- end col -->
            </div>
            <!-- end row -->
        </div>
        <!-- end container -->
    </div>
    <!-- end page -->
    <!-- App js -->
    <script src="~/js/vendor.min.js" asp-append-version="true"></script>
    <script src="~/js/app.min.js" asp-append-version="true"></script>

</body>
</html>
